<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
  <body>
    <h3>Welcome to App Academy</h3>

    Hi, <%= @user.username %>,

    <p>We welcome you.</p>

    <p>
      Sincerely, everyone!
    </p>
  </body>
</html>
